

.MPContainer1{
    justify-content: space-between;
    margin-left: 20px;
    margin-right: 20px;
    height: 70px;
    font-size: 25px;

}

.MPMenuIcon{
    margin-top: 10px;
}

.MPTitle{
    margin-top: 20px;
}

.MPLoginIcon{
    margin-top: 10px;
}

.MPContainer2{
    background-color: rgb(52, 51, 51);
    color: aliceblue;
}

.MPText1{
    padding: 20px;
    font-size: larger;
    text-align: center;
    
}

.MPSearch{
    justify-content: center;
    padding: 0px 10px 20px 10px;
}

.MPSearchText{
    height: 55px;
    width:250px;
    border-radius: 10px;
}

.MPSearchButton{
    background-color: rgb(245, 73, 26);
    margin-left: 10px;
    color:aliceblue;
    padding: 5px;
    font-size: 25px;
    text-align: center;
    border-radius: 10px;
    height:55px;
    width:55px;
}

.MPText2{
    font-size: larger;
    text-align: center;
}

.MPFeature{
    background-color: rgb(5, 167, 40);
    padding: 10px;
    margin-top:20px;
    width:300px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    font-size: larger;
}

.MPAdvanced{
    margin-top: 20px;
    text-align: center;
    font-size: large;
    padding: 10px;
    background-color: rgb(96, 94, 94);
}

.MPFilter{
    margin: 10px;
    
}


.MPSurprise{
    background-color: rgb(5, 178, 187);
    color: aliceblue;
    text-align: center;
    width: 350px;
    height: 50px;
    padding-top:5px;
    border-radius: 10px;
    font-size: 20px;
    margin-bottom: 10px;
}

.MPPokeLogo{
    background-color: rgb(52, 51, 51);
    color: aliceblue;
    font-size: 35px;
    width: 40px;
    padding: 0px 5px 10px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}

.MPDropdown{
    height: 63px;
    width:310px;
    font-size: larger;
    padding: 5px;
    background-color: rgb(52, 51, 51);
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    color: aliceblue;
}

.MPList{
   list-style: none;
}

.MPImage{
    background-color: rgb(224, 225, 225);
    width: 350px;
}

.MPPokeNum{
    font-size: medium;
    color: rgb(100, 99, 99);
}

.MPPokeName{
    font-size: larger;
}

.MPAbility{
    width: 130px;
    background-color: palevioletred;
    padding: 0px 0px 0px;
    margin-right:10px;
    text-align: center;
    border-radius: 5px;
}

.MPLoadMore{
    background-color: rgb(5, 178, 187);
    color: aliceblue;
    text-align: center;
    width: 350px;
    height: 50px;
    padding-top:5px;
    border-radius: 10px;
    font-size: 20px;
    margin:10px;
}

.MPHide{
    padding: 10px;
}

.btn.btn-primary{
    background-color: rgb(246, 153, 204);
    border-color:  rgb(255, 255, 255);
    height: 35px;
    width: 100px;
    margin: 5px;
    color: black;
}

.MPSubmit.btn.btn-primary{
    justify-content: center;
    background-color: rgb(245, 73, 26);
    color: aliceblue;
    border-color: rgb(245, 73, 26);
    height: 45px;
    width: 130px;
    font-weight: 500;
    font-size: large;
}